* {
  box-sizing: border-box;
}

.board {
  margin: auto;
  width: 608px;
  height: 608px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.cell {
  padding: 3px;
  width: 70px;
  height: 70px;
}
